<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />

</head>
<body style="background-image: url('../../assets/images/SN857545.JPG');">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <div class="centered-content">
    <h1>езиков център</h1>
       <h1>ФОРУМ</h1>
  </div>
  <a routerLink="/about" routerLinkActive="active" href="/about">
    <button type="button" class="text-gray-900 hover:text-white border border-gray-800 bg-pink-300 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-pink-300 dark:focus:ring-pink-300">Заявка за курс</button>
  </a>
</div>
<div class="english-container">
<div class="text-left p-10 top-left">
  <h2 class="custom-h2">FORUM Lang</h2>
  <p class="english">Английски</p>
  <p class="english-text">в активна разговорна среда</p>
  <p class="english-text">от ниво А1 до С1</p>
  <br>
  <p class="english-text">Всеки курс по ОБЩ английски</p>
  <p class="english-text">е с минимум 20 уч. ч.</p>
  <p class="english-text">разговорна практика.</p>
  <br>
  <p class="english-text">Така учите език</p>
  <p class="english-text">в АКТИВНА РАЗГОВОРНА среда</p>
  <br>
  <img class="image" src="assets/images/SN857503.JPG">
</div>
<div class="right-side">
  <h2 class="custom-h2">Нива</h2>
  <p class="english-text">А1, А2, В1, В1+, В2, С1</p>
  <h2 class="custom-h2">Цени</h2>
  <p class="english-text"><i><b>480</b></i> вместо <i><b>520лв.</b></i> за ниво от <i><b>80 уч.ч.</b></i></p>
  <p class="english-text-highlight">при записване до 05 юни 2024 за курсове през м.юни</p>
  <p class="english-text"><i><b>620</b></i> вместо <i><b>700 лв.</b></i> за ниво от <i><b>100 уч.ч.</b></i></p>
  <p class="english-text">+</p>
  <p class="english-text">70 лв. (учебен комплект)</p>
  <br>
  <img class="image1" src="assets/images/GuvK8sKVQDI.jpg">
</div>
</div>

</body>

