@tailwind base;
@tailwind components;
@tailwind utilities;
.course-container-left,
.course-container-left1,
.course-container-right,
.course-container-right1 {
  display: flex;
  align-items: center;
  height: 11.3vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.course-container-left{
  display: flex;
  position: relative;
  bottom: 42vh;
  left: 24vw;
  z-index:1002;

}

.course-container-left1{
  display: flex;
  position: relative;
  bottom: 42vh;
  left: 24vw;
  z-index:1002;

}
.course-container-right1 {
  display: flex;
  position: relative;
  bottom: 64.6vh;
  left: 58vw;
  z-index:1002;
}

.course-container-right {
  display: flex;
  position: relative;
  bottom: 64.6vh;
  left: 58vw;
  z-index:1002;
}
.centered-content{
  margin-top: 20vh
}
.image3{
  width:15em;
}

.contact-info-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.contact-info {
  margin: 6px;
  background-color: #FAD1E8;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
}
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.centered-content h1 {
  font-size: 3rem;
  color: slategray;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media (max-width: 768px){
  .BALC{
    display: none;
  }
  .contact-info-container{
    display: none;
  }
}
.BALC {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 300px;
  height: auto;
}
