<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
  <title>Document</title>
</head>
<body style="background-image: url('../../assets/images/SN857551.JPG');">

<a href="https://balc.bg/"><img src="../../assets/images/345-1.jpg" class="BALC" alt="BALC1"></a>

<div class="centered-content">
  <h1>езиков център</h1>
  <h1>ФОРУМ</h1>

</div>
<div class="contact-info-container">
  <div class="contact-info">
    <h2 class="text-lg font-bold mb-2">Контакти</h2>
    <p class="text-sm">📞0877318021</p>
    <p class="text-sm">Понеделник - Четвъртък : 10:00 - 19:00</p>
    <p class="text-sm mb-1">Събота и Неделя: 10:00 - 17:00</p>
    <p class="text-sm">Петък: Почивен ден</p>

  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
